*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(1, 144, 220);
    
}

.coin{
    display: flex;
    width: 400px;
    height: 80px;
}

.coin .coin-log{
    width: 80px;
    height: 100%;
    display: grid;
    place-items: center;
}

.coin .coin-log img {
width: 70%;
height: 70%;

}

.coin .coin-name{
    display: flex;
    place-items: center;
    height: 100%;
}

.coin .coin-name h3 {

    color: white;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}


.coin .coin-name span{

    color: white;
    font-size: 10px;
    font-weight: 400;
    margin: 5px;
}

.coin .coin-price {

    display: grid;
    align-items: center;
    margin-left: auto;
    text-align: right;
}

.coin .coin-price .price{
    font-size: 20px;
    font-weight: 800;
    margin-top: -6px;
}

.coin .coin-price .change {

    font-size: 15px;
    font-weight: 400;
    color: white;
}

.coin.rising {

    background: linear-gradient(45deg, rgb(11, 11, 32), rgb(0, 143, 38)) ;
}

.coin.rising .coin-price .price{

    color: greenyellow;


    
}

.coin.falling {

    background:linear-gradient(90deg, rgb(0, 0, 0), rgb(68, 1, 1) );
}

.coin.falling .coin-price .price{
    color: red;
}